sample-app/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:gss="http://www.mulesoft.org/schema/mule/googlespreadsheet"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/googlespreadsheet http://www.mulesoft.org/schema/mule/googlespreadsheet/1.0/mule-googlespreadsheet.xsd">

    <gss:config consumerKey="338184803349-oktp3kdscqsr69c51c3qkiu4vo6ec3tc.apps.googleusercontent.com"
    		consumerSecret="-nOKGb-25368mQfvbCBjm-BS">
    	<gss:oauth-callback-config domain="gsample.muleion.com" localPort="${http.port}" remotePort="80"/>
    </gss:config>

	<flow name="authFlow">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="auth" exchange-pattern="request-response" />
		<gss:authorize />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
		</response>
	</flow>
	
	
	<flow name="getSpreadsheetByTitle">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		<gss:get-spreadsheets-by-title title="#[map-payload:spreadsheet]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.EntryToStringTransformer" />
		</response>
	</flow>
	
	<flow name="getWorksheet">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="worksheet" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-worksheet-by-title spreadsheet="#[map-payload:spreadsheet]" title="#[map-payload:worksheet]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.EntryToStringTransformer" />
		</response>
	</flow>
		
	
	<flow name="listSpreadsheets">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="list-spreadsheets" exchange-pattern="request-response" />
		<gss:get-all-spreadsheets />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.EntryToStringTransformer" />
		</response>
	</flow>
	
	<flow name="createSpreadsheets">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="create-spreadsheets" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:create-spreadsheet title="#[map-payload:title]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	<flow name="listWorksheets">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="list-worksheets" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-all-worksheets spreadsheet="#[map-payload:spreadsheet]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.EntryToStringTransformer" />
		</response>
	</flow>
	
	<flow name="createWorksheet">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="create-worksheet" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:create-worksheet spreadsheet="#[map-payload:spreadsheet]" title="#[map-payload:title]"
								rowCount="#[map-payload:rowCount]" colCount="#[map-payload:colCount]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	<flow name="deleteWorksheet">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="delete-worksheet" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:delete-worksheet spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]" />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	
	<flow name="updateWorksheetMetadata">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="update-worksheet-metadata" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:update-worksheet-metadata spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]" 
				title="#[map-payload:title]" rowCount="#[map-payload:rowCount]" colCount="#[map-payload:colCount]"
				summary="#[map-payload:summary]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	<flow name="getAuthors">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-authors" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-authors spreadsheet="#[map-payload:spreadsheet]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	<flow name="getColumnHeaders">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-column-headers" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-column-headers spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.CellToStringTransformer" />
		</response>
	</flow>
	
	<flow name="setCellValue">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-set-cell-value" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:set-cell-value spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]"
							row="#[map-payload:row]" column="#[map-payload:column]"
							formulaOrValue="#[map-payload:formulaOrValue]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
		</response>
	</flow>
	
	<flow name="purge">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-purge" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:purge-worksheet spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]" />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<object-to-string-transformer />
		</response>
	</flow>
	
	<flow name="batchSetCellValue">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-batch-cell" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:batch-set-cell-value spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]">
			<gss:cell-value row="2" col="2" formulaOrValue="batch1" />
			<gss:cell-value row="3" col="2" formulaOrValue="batch2" />
			<gss:cell-value row="4" col="2" formulaOrValue="batch3" />
			<gss:cell-value row="5" col="2" formulaOrValue="batch4" />
			<gss:cell-value row="6" col="2" formulaOrValue="batch5" />
		</gss:batch-set-cell-value>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
		</response>
	</flow>
	
	<flow name="getAllCells">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="list-cells" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-all-cells spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]" />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.CellToStringTransformer" />
		</response>
	</flow>
	
	<flow name="getCellRange">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="cell-range" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:get-cell-range spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]"
							minRow="#[map-payload:minRow]" maxRow="#[map-payload:maxRow]"
							minCol="#[map-payload:minCol]" maxCol="#[map-payload:maxCol]" />

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.CellToStringTransformer" />
		</response>
	</flow>
	
	<flow name="search">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="spreadsheet-search" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<gss:search spreadsheet="#[map-payload:spreadsheet]" worksheet="#[map-payload:worksheet]" query="#[map-payload:query]"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
			<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.CellToStringTransformer" />
		</response>
	</flow>
	
	<flow name="update from rows">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="update-from-rows" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<message-properties-transformer scope="outbound">
			<add-message-property key="spreadsheet" value="#[map-payload:spreadsheet]" />
			<add-message-property key="worksheet" value="#[map-payload:worksheet]" />	
		</message-properties-transformer>
		
		<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.BatchRowsBuilder" />
		<gss:set-row-values spreadsheet="#[header:spreadsheet]" worksheet="#[header:worksheet]" purge="true"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
		</response>
	</flow>
	
	
	<flow name="update from csv">
		<http:inbound-endpoint host="localhost" port="${http.port}" path="update-from-csv" exchange-pattern="request-response">
			<object-to-byte-array-transformer />
			<http:body-to-parameter-map-transformer />
		</http:inbound-endpoint>
		
		<message-properties-transformer scope="outbound">
			<add-message-property key="spreadsheet" value="#[map-payload:spreadsheet]" />
			<add-message-property key="worksheet" value="#[map-payload:worksheet]" />	
		</message-properties-transformer>
		
		<custom-transformer class="org.mule.module.google.spreadsheet.sample.transformer.CsvLoaderTransformer" />
		<gss:set-csv-values spreadsheet="#[header:spreadsheet]" worksheet="#[header:worksheet]" purge="true"/>

		<response>
			<message-properties-transformer scope="outbound">
				<add-message-property key="Content-Type" value="text/plain" />
			</message-properties-transformer>
		</response>
	</flow>
	
	
	
	<flow name="AppStatusFlow">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="appstatus"/>
		<object-to-string-transformer/>
    </flow>

</mule>
