src/test/resources/docs-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Development Kit
    Copyright 2010-2011 (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:gcontacts="http://www.mulesoft.org/schema/mule/google-contacts"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/google-contacts http://www.mulesoft.org/schema/mule/google-contacts/1.0/mule-google-contacts.xsd">

    <context:property-placeholder location="test.properties" />
    
    <gcontacts:config name="google-contacts" clientId="${client.id}" clientSecret="${client.secret}">
        <gcontacts:oauth-callback-config domain="localhost" localPort="${http.port}" remotePort="${http.port}"/>
        <gcontacts:oauth-save-access-token>
            <logger level="INFO" message="Received access token #[groovy:message]"/>
        </gcontacts:oauth-save-access-token>
        <gcontacts:oauth-restore-access-token>
            <message-properties-transformer scope="invocation">
                <add-message-property key="OAuthAccessToken" value="${docs.access.token}"/>
                <add-message-property key="OAuthAccessTokenSecret" value="${docs.access.token.secret}"/>
            </message-properties-transformer>
        </gcontacts:oauth-restore-access-token>
    </gcontacts:config>

    <flow name="authorize">
        <inbound-endpoint address="http://localhost:${http.port}/authorize"/>
        <gcontacts:authorize/>
    </flow>
        
    <flow name="authorizeVM">
        <inbound-endpoint address="vm://authorize" exchange-pattern="request-response"/>
        <gcontacts:authorize/>
    </flow>
        
    <flow name="get contacts">
        <gcontacts:authorize/>
        <gcontacts:get-contacts/>
        <logger level="INFO" message="Hello #[payload]"/> 
    </flow>

</mule>
